body{
    
    background-color: beige;
}
 

table{
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
      border-width: 1px;
    border-style:solid;
    border-color: #2695A6;
    
}

th{
    font-weight: 800;
    background-color:darkturquoise;
    color:#ffffff;
   font-family: Helvetica, sans-serif;
   padding: 6px;
       
}
    
 td{
   padding: 6px;
     font-weight: 600;
     font-family: Helvetica;
      
    }       
       
       